.my-dark-gray{
    background-color: #2C3E50;
}
.my-gray{
    background-color: #3A546D;
}
.my-green{
    background-color: #1ABC9C;
}
.my-red{
    background-color: #BA4B63;
}
.my-dark-green{
    background-color: #1EA4B6;
}
.my-black{
    background-color: #140F0F;
}
.my-blue{
    background-color: #1C83C1;
}
.my-dark-blue{
    background-color: #0E38B5;
}
.my-brown{
    background-color: #CCB2A3;
}
main .avatar{
    width: 20%;
}
main .first hr{
    background-color: white;
    border-color: white;
    border-width: 5px;
    border-radius: 10px;
    width: 50vw;
    opacity: 1;
}
main .first span{
    padding:0 1rem ;
    font-size: 20px;
    top: 5%;
    right: 43%;
}